/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.draft.yaml
/.blueprint
.bun.lockb
.worker.log
/Scripts
/template
/database/simdata_sosial_150824.sql
rr
.rr.yaml
./Scripts
/database/u620101454_reno.sql
/database/u620101454_reno - MySQL84.sql
/database/u620101454_renos - Copy.sql
/database/u620101454_renos - Copy - MySQL8.sql
